#ui-lightbox {
	font-size: 62.5%;
	padding: 5px;
	margin: 0;
	position: fixed;
	z-index: 9999;
	width: auto;
	height: auto;
}

#ui-lightbox-content {
	border: 0 none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 20px;
	height: 20px;
}

#ui-lightbox-content > img {
	display: block;
	position: absolute;
	z-index: 100;
}

#ui-lightbox-panorama-icon {
	cursor: pointer;
	height: 32px;
	left: 20px;
	width: 32px;
	position: absolute;
	top: 20px;
	z-index: 110;
}

.ui-lightbox-panorama-icon-expand {
	background: url(panorama.png) center left no-repeat;
}

.ui-lightbox-panorama-icon-shrink {
	background: url(panorama.png) center right no-repeat;
}

.ui-lightbox-loader {
	background: url(loader.gif) center center no-repeat;
}

#ui-lightbox-header {
	margin: 0;
	margin-top: 5px;
	padding: 5px;
	height: 40px;
	position: relative;
}

#ui-lightbox-header > p {
	margin: 0;
	padding: 0;
}

#ui-lightbox-header-wrapper {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

#ui-lightbox-header-counter {
	font-size: 9px;
	line-height: 20px;
}

#ui-lightbox-header-close {
	position: absolute;
	top: 17px;
	right: 5px;
}

#ui-lightbox-overlay {
	margin: 0;
	padding: 0;
	position: fixed;
	border: 0;
}